.add-courses {
	color: #333;
	display: block;
	
	
	&:hover {
		text-decoration: none;
		color: #333;
	}
}
.add-courses__img {
	border: 1px solid #dbdbdf;
}
.add-courses__title {

}
.add-courses__content {
	h1, h2, h3, h4, h5, h6 {
		font-size: 16px;
		font-weight: 700;
		line-height: 24px;
		color: #000;
		margin-bottom: 5px;
	}
	p {
		font-size: 14px;
		line-height: 22px;
	}
	& > * {
		&:last-child {
			margin-bottom: 0;
		}		
	}
}