.article {
	padding: 35px 0;
	border-bottom: 1px solid #e2e2e5;
	&:last-child {
		padding-bottom: 0;
		border-bottom: none;
	}
	&:first-child {
		padding-top: 0;
	}
}
.article__head {

}
.article__title {
	margin-bottom: 5px;
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		// font-size: 20px;
		// line-height: 28px;
		// color: #000;
		// font-weight: 700;
	}
}
.article__head-icon {
	// width: 18px;
	// height: 18px;
	margin-right: 5px;
	margin-top: -3px;
	vertical-align: middle;
	
}
.article__head-info {
	font-size: 12px;
	line-height: 22px;
	color: #666;
	a {
		font-size: 12px;
		color: #b13b3b;
		line-height: 22px;
		&:hover {
			color: #b13b3b;
		}
	}
}

.article__body {

}
.article__content {
	h2 {
		font-size: 18px;
		line-height: 26px;
		color: #000;
		font-weight: 700;
		margin-bottom: 15px;
	}
	p {
		font-size: 14px;
		color: #333;
		line-height: 23px;
		margin-bottom: 20px;
	}
}
.article__foot {
	font-size: 12px;
	color: #666;
	line-height: 22px;
}
.article__foot-icon {
	width: 18px;
	height: 18px;
	margin-right: 5px;
	vertical-align: middle;
	
}

.article__rating {
	font-size: 12px;
	line-height: 1;
	color: #666;
}
.article__button {
	padding-left: 19px;
	padding-right: 19px;
	margin-bottom: 25px;
	.caret {
		margin-left: 3px;
		&:before {
			background-image: url('../images/caret_white_right_another.png');
			
		}
	}
}


.article_preview {
	border: 1px solid #e2e2e5;
	border-radius: 4px;
	padding: 30px 29px;
	@include mmd() {
		padding: 15px 14px;
	}
	.article__head {
		margin-bottom: 7px;
	}
	.article__body {
		margin-bottom: 15px;
	}
	.article__content {
		p {
			line-height: 22px;
		}
	}
}
.article__row {

}
.article__col {
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
	@include mlg() {
		margin-bottom: 15px;
		&:last-child {
			margin-bottom: 0;
		}
	}
	@media only screen and(min-width: 1530px) {
		flex: 0 0 23.7%;
		max-width: 23.7%;
	}
}
.article__col_large {
	@media only screen and(min-width: 1530px) {
		flex: 0 0 calc(100% - 23.7%);
		max-width: calc(100% - 23.7%);
	}
}
.article__img {
	// width: 170px;
	height: 170px;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 4px;
	img {
		object-fit: cover;
	}
}