.capabilitiesIM {
	padding: 55px 0 0;
	margin-bottom: 55px;
	border-radius: 4px;
	overflow: hidden;
	
	@include mmd() {
		padding: 30px 0 0;
		margin-bottom: 30px;
	}	
}
.capabilitiesIM__title {
	margin-bottom: 35px;
	padding: 0 20px;
	@include mmd() {
		margin-bottom: 20px;
	}
}