.catalog-result {

}
.catalog-result__head {
	font-size: 13px;
	line-height: 22px;
	margin-bottom: 23px;
	@include mmd() {
		margin-bottom: 15px;
	}
	.select {
		width: 160px;
	}
	.filter-check {
		input {
			&:checked {
				& + label {
					font-weight: 400;
				}
			}
		}
	}
	strong {
		font-weight: 700;
		color: #000;
	}
}
.catalog-result__select {
	background-color: #fff;
	border: 1px solid #e4e4e7;
	font-size: 13px;
	line-height: 1;
	padding-bottom: 11px;
	padding-left: 10px;
}
.catalog-result__item {
	margin-bottom: 20px;
	&:nth-last-child(-n+2) {
		margin-bottom: 0;
	}
}