.client-item {
	padding: 20px;
	p {
		font-size: 13px;
		line-height: 18px;
	}
	& > * {
		&:last-child {
			margin-bottom: 0;
		}
	}
	&:hover {
		text-decoration: none;
	}
}
.client-item__img {
	width: 100%;
	max-width: 130px;
	height: 70px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: contain;
	margin-left: auto;
	margin-right: auto;
}