.complicated-tabs {

}
.complicated-tabs-menu {
	.tab-content__main {
		// padding-left: 0;
		// padding-right: 0;
	}
}
.complicated-tabs-carousel {
	.owl-stage {
		display: flex;
		// border-bottom: 1px solid #dbdbdf;
	}
	.owl-nav .disabled {
		display: none;
	}
	.team-engineer {
		height: 100%;
	}
	.owl-item {
		padding-left: 2px;
		padding-right: 2px;
	}
	.owl-nav {
		margin-top: 24px !important;
		.owl-prev {
			left: 1px;
		}
		.owl-next {
			right: 3px;
		}
	}
}
.complicated-tabs-item {

}
.complicated-tabs-item__title {
	margin-bottom: 20px;
	h2 {
		font-size: 18px;
		line-height: 28px;
		color: #000;
		font-weight: 700;
	}
	@media only screen and (max-width: 449px) {
		padding-left: 7px;
		padding-right: 7px;
	}
}
.complicated-tabs__item {
	padding-top: 20px;
	padding-bottom: 30px;
	border-bottom: 1px solid #e4e4e7;
	&:first-child {
		padding-top: 0;
	}
	&:last-child {
		padding-bottom: 0;
		border-bottom: none;
	}
}
.complicated-tabs-content {
	padding-top: 0;
}
.complicated-tabs-menu-dots {
	padding-top: 20px;
	button {
		width: 100%;
		background-color: transparent;
		padding: 0;
		border: none;
		border-bottom: 1px solid #e2e2e5;
		display: block;
		
		font-size: 14px;
		line-height: 35px;
		padding: 1px 0;
		min-height: 38px;
		text-align: left;
		position: relative;
		&.active {
			font-weight: 700;
			.caret {
				&:before {
					background-image: url("../images/caret_right_green.png");
					
				}
			}
		}
		&:last-child {
			border-bottom: none;
			
		}
	}
	.caret {
		position: absolute;
		
		top: 50%;
		right: 0;
		transform: translate(0, -50%);
	}
}
.complicated-tabs__team-col {
	padding-left: 0;
	padding-right: 30px;
	border-bottom: 1px solid #dbdbdf;
	@media only screen and (max-width: 449px) {
		flex: 0 1 auto;
		max-width: none;
		padding-left: 10px;
		padding-right: 10px;
	}
	@include mxl() {
		margin-bottom: 30px;
	}
	&:nth-child(2n) {
		@media (min-width: 450px) and (max-width: 767px) {
			padding-right: 0;
		}
	}
	&:nth-child(3n) {
		@media (min-width: 768px) and (max-width: 1199px) {
			padding-right: 0;
		}
	}
	// &:nth-child(3n) {
	// 	@media (min-width: 992px) and (max-width: 1199px) {
	// 		padding-right: 0;	
	// 	}		
	// }
	@include xl() {
		&:last-child {
			padding-right: 0;
		}
		
	}
}