.customer-dialog {
	padding: 23px 30px 0;
	border: 1px solid #e2e2e5;
	border-radius: 4px;
	&:last-child {
		margin-bottom: 0;
	}
	@include msm() {
		padding: 15px;
	}
}

.customer-dialog__head {

}
.customer-dialog__date {
	font-size: 11px;
	line-height: 22px;
	strong {
		font-weight: 700;
		color: #000;
	}
}
.customer-dialog__event {
	.notif-white {
		background-color: transaprent;
		position: relative;
		margin-top: -2px;
	}
	.icon {
		position: relative;
		margin-top: -2px;
	}
	font-size: 13px;
	line-height: 22px;
	&.active {
		.notif-white {
			background-color: #5bbb6b;
			border-color: #5bbb6b;
			color: #fff;
		}
	}
	&:hover {
		text-decoration: none;
		
	}
}

.customer-dialog__body {

}
.customer-dialog__content {
	font-size: 14px;
	line-height: 22px;
	h2 {
		font-weight: 700;
		font-size: 18px;
		line-height: 26px;
		color: #000;
		margin-bottom: 12px;
	}
	p {

	}
}
.customer-dialog__note {

}
.customer-dialog__employee {
	line-height: 22px;
}

.customer-dialog__foot {
	border-top: 1px solid #e2e2e5;
	padding: 15px 0;
	font-size: 13px;
	line-height: 22px;
	ul {
		margin-left: -15px;
		margin-right: -15px;
		li {

		}
		a {
		transition: ease .2s;
			&:hover {
				text-decoration: none;
				color: #187c27;
			}
		}
	}
}