.customer-preview {
	overflow: hidden;
}
.cutomer-preview__avatar-wrap {
	width: 100%;
	max-width: 72px;
	flex: 0 0 72px;
	height: 72px;
	border-radius: 50%;
	overflow: hidden;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
}
.cutomer-preview__avatar {
	width: 72px;
	height: 72px;
	border-radius: 50%;
	object-fit: cover;
}
.cutomer-preview__content {
	@include sm() {
		padding-left: 20px;			
	}
	font-size: 13px;
	line-height: 20px;
	h2 {
		font-size: 18px;
		line-height: 26px;
		color: #000;
		font-weight: 700;
	}
	p {

	}
	& > * {
		&:last-child {
			margin-bottom: 0;
		}
	}
}