.customer {
	
}
.customer__actions {
	// width: 100%;
	@include sm() {
		
	}
	@include md() {
		flex: 0 0 265px;
		max-width: 265px;
		position: relative;
		padding-left: 30px;
		&:before {
			content: '';
			position: absolute;
			
			top: 3px;
			bottom: 5px;
			left: 0;

			width: 1px;
			background-color: #dbdbdf;
		}		
		
	}
}