.dialogs-pane__folder {
	.dialog-actions-folder__row {
		margin-left: -10px;
		margin-right: -10px;
	}
}
.dialog-actions-folder__item {
	padding-left: 10px;
	padding-right: 10px;
	line-height: 22px;
	a {
		span:not(.notif) {
			position: relative;
			margin-right: 7px;
			&:before {
				content: '';

				position: absolute;
				top: 100%;
				left: 0;
				right: 0;

				background-color: #a0d8a9;
				height: 1px;
				transition: ease .2s;
			}
		}
		&:hover {
			text-decoration: none;
			span:not(.notif) {
				&:before {
					background-color: #27963a;
				}
			}
		}
	}
	.notif {
		background-color: #f6f7f9;
		border: 1px solid #e2e2e5;
		font-size: 11px;
		line-height: 1;
		padding-top: 3px;
		color: #000;
	}
}
.dialogs-pane__create-folder {
	padding-top: 7px;
	padding-bottom: 7px;
	width: 100%;
	max-width: 136px;
	flex:  0 0 136px;

}