.dialogs-list {
	border: 1px solid #e2e2e5;
	border-radius: 4px;
}
.dialogs-list-item {
	padding: 25px 19px;
	background-color: #f6f7f9;
	border-bottom: 1px solid #e2e2e5;
	transition: ease .2s;
	position: relative;
	&:last-child {
		border-bottom: none;
	}
	&.active {
		background-color: #e6f8e8;
		&:hover {
			background-color: #e6f8e8;
		}
		.notif {
			position: absolute;

			top: 50%;
			right: 30px;
			transform: translate(0, -50%);

			font-size: 13px;
			min-width: 30px;
			height: 30px;

			display: flex;
			align-items: center;
			justify-content: center;
			padding: 4px 5px 3px;

			background-color: #42b153;
			border-color: #42b153;
			color: #fff;
			@media only screen and(max-width: 399px) {
				right: 10px;
			}
		}
	}
	&:hover {
		background-color: #e5e8ea;
	}
}
.dialogs-list-item__check {
	width: 100%;
	flex: 0 0 46px;
	max-width: 46px;
	padding-top: 20px;
	.filter-check {
		padding: 0;
		width: 16px;
		height: 16px;
	}
}
.dialogs-list-item__wrap {
	width: 100%;
	max-width: calc(100% - 46px);
	flex: 0 0 calc(100% - 46px);
	display: block;
	&:hover {
		text-decoration: none;
	}
}
.dialogs-list-item__user {
	width: 100%;
	margin-bottom: 10px;
	@media only screen and(min-width: 400px) {
		max-width: 56px;
		flex: 0 0 56px;
		margin-bottom: 0;
	}
	.user__img-wrap {
		width: 56px;
		height: 56px;
	}
}
.dialogs-list-item__user-info {
	width: 100%;
	@media only screen and(min-width: 400px) {
		max-width: calc(100% - 56px);
		flex: 0 0 calc(100% - 56px);
		padding-left: 20px;
		padding-right: 70px;
	}
}
.dialogs-list-item__title {
	h3 {
		font-size: 14px;
		line-height: 18px;
		color: #000;
		font-weight: 700;
		margin: 0;
	}
	p {
		font-size: 14px;
		line-height: 18px;
		margin: 0;
	}
}