.engineer-item {
	height: 100%;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.engineer-item__head {
	padding-bottom: 30px;
	border-bottom: 1px solid #e4e4e7;
	margin-bottom: 23px;
	@include mmd() {
		padding-bottom: 15px;
		margin-bottom: 15px;
	}
}
.engineer-item__head-col {
	padding-left: 15px;
	padding-right: 15px;
	width: 100%;
	@media only screen and(min-width: 400px) {
		flex: 0 0 150px;
		max-width: 150px;
	}
}
.engineer-item__head-col_large {
	
	@media only screen and(min-width: 400px) {
		flex: 1 1 0;
		max-width: 100%;
	}
}
.engineer-item__img-wrap {
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
	width: 120px;
	height: 120px;
	border-radius: 4px;
	@include mlg() {
		margin-bottom: 10px;
	}
}
.engineer-item__title {
	margin-bottom: 10px;
	h3 {
		padding-left: 15px;
		padding-right: 15px;
		font-size: 18px;
		line-height: 28px;
		color: #000;
		font-weight: 700;
		margin: 0;
	}
}
.engineer-item__info {
	position: relative;
	top: -3px;
	font-size: 13px;
	line-height: 22px;
	strong {
		color: #000;
		font-weight: 700;
	}
}
.engineer-item__status {
	color: #999999;
	position: relative;
	display: inline-block;
	padding-left: 10px;
	&:before {
		content: '';
		width: 5px;
		height: 5px;
		border-radius: 50%;

		background-color: #d6d6d6;
		position: absolute;
		top: 50%;
		left: 0;
		transform: translate(0, -50%);
	}
	&.active {
		color: #3da44e;
		&:before {
			background-color: #3da44e;
		}
	}
}
.engineer-item__details {
	font-size: 12px;
	line-height: 20px;
}
.engineer-item__list {
	& > ul {
		& > li {
			& > div {
				margin-bottom: 3px;
			}
			& > ul {
				padding-left: 0;
				& > li {
					margin-bottom: 3px;
				}
			}
		}
	}
	.engineer-about__more {
		padding-left: 0;
	}
}
.engineer-item__descr {
	margin-bottom: 10px;
}
.engineer-item__more {
	& > * {
		margin-bottom: 20px;
		@include mmd() {
			margin-bottom: 10px;
		}
		&:last-child {
			margin-bottom: 0;
		}
	}
	sup {
		font-size: 12px;
		line-height: 21px;
		font-weight: 700;
		color: #000;
	}
	strong {
		font-size: 18px;
		line-height: 19px;
		color: #000;
		font-weight: 700;
	}
}

.engineer-item_catalog {
	background-color: #fff;
	box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);

	.engineer-item__head {
		padding: 30px;
		margin: 0;
		@media only screen and(max-width: 399px) {
			padding: 15px;
			// text-align: center;
		}
	}
	.engineer-item__details {
		padding: 23px 30px;
		@media only screen and(max-width: 399px) {
			padding: 15px;
		}
		
	}
	.engineer-item__img-wrap {
		// @media only screen and(max-width: 399px) {
		// 	margin-left: auto;
		// 	margin-right: auto;
		// 	width: 100%;
		// 	height: 250px;
		// 	background-size: contain;
		// }
	}
}