.engineer-preview {
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
	position: relative;
	@media only screen and(min-width: 1530px) {
		height: 300px;
	}
	@media only screen and(max-width: 1529px) {
		background-position: 100% 0;
	}
	@include mlg() {
		
	}
}
.engineer-preview__inner {
	position: relative;
	padding: 30px;
	@include mxl() {
		padding-left: 15px;
		padding-right: 15px;
	}
}
.engineer-preview__content {
	color: #fff;

	font-size: 15px;
	line-height: 21px;
	font-weight: 300;
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-size: 26px;
		line-height: 30px;
		font-weight: 500;
		padding-right: 80px;
	}

}
.engineer-preview__btn {

}