.engineering-service {
	padding: 0 20px 0;
	height: 100%;
	@include mxl() {
		padding-left: 10px;
		padding-right: 10px;
	}
	@include mmd() {
		padding-left: 20px;
		padding-right: 20px;
	}
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		display: flex;
		align-items: center;
		font-size: 14px;
		font-weight: 700;
		// line-height: 20px;
		line-height: 1;
		color: #fff;
		text-transform: uppercase;
		margin-bottom: 15px;
		span {
			line-height: 1;
		}
		.icon {
			position: relative;
			
			margin-top: -1px;
		}
	}
	ul {
		padding-left: 28px;
		li {
			a {
				font-size: 14px;
				color: #c7cddc;
				line-height: 28px;
				font-weight: 400;
				transition: ease .1s;
				@include mxl() {
					line-height: 26px;
				}
				&:hover {
					text-decoration: none;
					font-weight: 500;
					color: #fff;
				}
			}
		}
	}
}