.equip-box {
	color: #333;
	font-size: 16px;
	line-height: 22px;
	border: 1px solid #efeff0;
	padding: 50px 10px;
	&:hover {
		color: #333;
		text-decoration: none;
	}
}
.equip-box__img {
	width: 220px !important;
	height: 160px;

	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: contain;
	margin-left: auto;
	margin-right: auto;
}
.equip-box {
	div {
		&:not(.equip-box__img) {
			padding-right: 10px;
		}
	}
	&:last-child {
		
	}
}