.equipment-wrap {
	background-color: #f9fafb;
	border: 1px solid #e4e4e7;
	border-radius: 4px;
}
.equipment-wrap__in {

}
.equipment-wrap__col {
	width: 100%;
	border-right: 1px solid #e4e4e7;
	@media only screen and (min-width: 1530px) {
		max-width: 25.65%;
		flex: 0 0 25.65%;
	}
	@include mlg() {
		border-right-color: transparent;
	}
}
.equipment-wrap__col_large {
	background-color: #fff;
	padding-left: 30px !important;
	padding-right: 15px !important;	
	@media only screen and (min-width: 1530px) {
		max-width: 74.35%;
		flex: 0 0 74.35%;
	}
	@include mlg() {
		padding-left: 15px !important;
	}
}
.equipment-wrap__title {
	padding: 7px 20px;
	background-color: #f3f5f7;
	border-bottom: 1px solid #e4e4e7;
	& > * {
		&:last-child {
			margin-bottom: 0;
		}		
	}
	h3 {
		font-size: 14px;
		line-height: 22px;
		color: #000;
		font-weight: 700;
	}
}
.equipment-wrap__filtering {
	font-size: 12px;
	line-height: 22px;
}
.equipment-wrap__filtering-list {
	li {
		padding-left: 10px;
		padding-right: 10px;
		position: relative;
		&:last-child {
			&:after {
				display: none;
				
			}
		}
		&:after {
			content: '';
			position: absolute;
			
			right: 0;
			top: 50%;
			transform: translate(0, -50%);
			width: 1px;
			height: 12px;
			background-color: #d6d6dc;
		}
	}
	a {
		&:hover {
			text-decoration: none;
			color: #b13b3b;
			// font-weight: 700;
		}
		&.active {
			color: #b13b3b;
			font-weight: 700;
		}
	}
}
.quipment-wrap__content {
	h3 {
		font-size: 18px;
		line-height: 28px;
		font-weight: 700;
		color: #000;
		margin-bottom: 10px;
	}
	h4 {
		font-size: 14px;
		line-height: 22px;
		font-weight: 400;
		margin-bottom: 0;
	}
	p {
		font-size: 14px;
		line-height: 22px;
		margin-bottom: 10px;
	}
	strong {
		font-weight: 700;
		color: #000;
	}
}
.equipment-wrap__services {
	.icon {
		position: relative;
		
		margin-top: -2px;
	}
}