.exhibitions-list {
	li {
		padding-top: 10px;
		padding-bottom: 10px;
		border-bottom: 1px solid #e2e1e6;
		&:last-child {
			border-bottom-color: transparent;
		}
		&:first-child {
			padding-top: 0;
		}
	}
}
.exhibitions-list__head {
	// margin-bottom: 5px;
	strong {
		font-size: 10px;
		font-weight: 700;
		line-height: 24px;
		margin-right: 10px;
		text-transform: uppercase;
		
	}
	span {
		font-size: 12px;
		line-height: 24px;
		color: #666;
	}
}
.exhibitions-list__content {
	h3 {
		font-size: 16px;
		line-height: 28px;
		color: #000;
		font-weight: 700;		
	}
}