.favourites-section {

}
.favourites-section__title {
	margin-bottom: 17px;
	h3 {
		font-size: 18px;
		line-height: 28px;
	}
}
.favourites-section__row {

}
.favourites-section__col {
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
	@include lg() {
		flex: 0 0 18.4%;
		max-width: 18.4%;
	}
}
.favourites-section__col_large {
	@include lg() {
		flex: 0 0 81.6%;
		max-width: 81.6%;
	}
}
.favourites-section__item {
	margin-bottom: 30px;
	& + & {
		border-top: 1px solid #e4e4e7;
		padding-top: 20px;
	}
	@include mmd() {
		margin-bottom: 20px;
	}
	&:last-child {
		margin-bottom: 0;
	}
	&:first-child {
		padding-top: 27px;
	}
}
.favourites-section__article {
	margin-bottom: 30px;
	@include mmd() {
		margin-bottom: 20px;
	}
	&:last-child {
		margin-bottom: 0;
	}
}
.favourites-section__engineers {

}
.favourites-section__engineer {
	margin-bottom: 60px;
	@include mmd() {
		margin-bottom: 30px;
	}
	&:nth-last-child(-n+2) {
		margin-bottom: 10px;
	}
}