.list-load {
	// margin-left: -5px;
	// margin-right: -5px;
	li {
		padding-left: 5px;
		padding-right: 5px;
		margin-bottom: 10px;
	}
	a {
		display: inline-block;
		border-radius: 4px;
		font-size: 12px;
		line-height: 1;
		padding: 5px 10px;

		background-color: #f3f5f7;
		border: 1px solid transparent;
		&:hover {
			text-decoration: none;
			background-color: #e5e8ea;
		}
		&.active {
			border-color: #b13b3b;
			background-color: #fff;
			&:hover {
				background-color: #fff;
			}
		}
	}
}