.list-dotted {
	li {
		position: relative;
		padding-left: 10px;
		line-height: 30px;
		&:before {
			content: '';
			position: absolute;
			
			top: 12px;
			left: 0;

			width: 4px;
			height: 4px;

			border-radius: 50%;
			background-color: #46b358;
		}
	}
}