.main-menu {
	@include mlg() {
	}
	ul {
		@include lg() {
			margin-left: -15px;
			margin-right: -15px;
		}
		@include mlg() {
			margin-left: 0;
			margin-right: 0;
			padding: 0 15px;
		}
	}
	li {
		padding-left: 15px;
		padding-right: 15px;
		margin-bottom: 5px;
		@include mlg() {
			padding: 0;
			margin-bottom: 0;
		}
		& > div, & > a {
			@include mlg() {
				padding: 15px 10px;
				border-bottom: 1px solid rgba(#fff, .3);
			}
		}
	}
	a {
		font-size: 14px;
		line-height: 16px;
		color: #fff;
		font-weight: 700;
		opacity: .9;
		transition: ease .1s;
		&:hover {
			text-decoration: none;
			opacity: 1;
		}
	}
	.hasList {
		position: relative;
		perspective: 150px;
		& > div {
			& > a {
				margin-right: 5px;
			}			
		}
		ul {
			padding: 5px;
			@include mlg() {
				padding: 0;
				display: none;
			}
			@include lg() {
				width: 100%;
				min-width: 150px;
				margin: 5px 0 0;

				position: absolute;
				left: 15px;
				top: 100%;

				background-color: #fff;
				border-radius: 4px;
				transform-origin: 50% 0;
				transition: transform ease .15s;
				box-shadow: 0 0 20px 1px rgba(#000, .3);


				opacity: 0;
				visibility: hidden;
				
				transition: ease .2s;
				transform: rotateX(-90deg);
				transform-origin: 50% 0;
				&[style="display: block;"] {
				}
			}
			li {
				margin-bottom: 0;
				&:last-child {
					margin-bottom: 0;
				}
			}
			a {
				// margin-right: 5px;
				@include lg() {
					color: #000;
				}
				@include mlg() {
					display: block;
					padding: 14px 15px;
				}
			}
			&.visible {
				opacity: 1;
				visibility: visible;
				transform: rotateX(0);
			}
		}
	}
	.caret {
		// margin-left: 5px;
		&:before {
			// transform: rotate(45deg) translateX(1px) translateY(1px);
		}
	}
	@include mlg() {
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		z-index: 2;

		opacity: 0;
		visibility: hidden;

		transform: translate(-50px, 0);
		transition: .2s linear .1s;
		&:before {
			content: '';

			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: -1;

			background-color: rgba(#fff, .9);
			transform: translate(-100px, 0);
			opacity: 0;
			visibility: hidden;
			transition: linear .2s;
		}
		ul {
			background-color: #191d28;
		}
	}
	&.show {
		@include mlg() {
			display: block;
			opacity: 1;
			visibility: visible;
			transform: translate(0, 0);
			padding: 0;
			// transition: ease .2s;
			// transition-delay: .4s;
			// transition: 0s ease .4s;
			&:before {
				transform: translate(0, 0);
				opacity: 1;
				visibility: visible;
				// transition: linear .2s;
			}
			.main-menu__inner {
				opacity: 1;
				visibility: visible;
				transform: translate(0, 0);
				// transition: .3s linear .4s;
			}
		}
	}
	.header__inner-center {
		@media only screen and(max-width: 390px) {
			flex: 0 1 auto;
			max-width: none;
			width: 100%;
		}
	}
	.other-actions {
		ul {
			display: block !important;
			padding-left: 0;
			padding-right: 0;
		}
		li {

		}
		a {
			max-width: none;
		}
	}
}

.main-menu__inner {
	@include mlg() {
		height: 100%;
		max-width: 320px;
		overflow: auto;
		position: relative;

		transform: translate(-100px, 0);
		opacity: 0;
		visibility: hidden;
		transition: .2s linear .4s;
		padding: 50px 0 30px;
	}
}

.main-menu__close {
	@include lg() {
		display: none;
	}
	@include mlg() {
		position: absolute;
		top: 10px;
		right: 10px;
		z-index: 2;
	}
}