.map-view {
	height: 131px;

	display: flex;
	align-items: center;
	justify-content: center;

	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;

	border-style: solid;
	border-width: 1px;
	border-color: rgb(177, 59, 59);
	box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
	position: relative;

	margin-bottom: 30px;
	@include mmd() {
		margin-bottom: 20px;
	}
	&:before {
		content: '';
		position: absolute;
		top: -1px;
		left: -1px;
		right: -1px;
		bottom: -1px;
		background-color: #fff;
		opacity: 0.502;

	}
}
.map-view__button {
	width: 200px;
	position: relative;
	box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
}