.nav-sidebar {
	display: block;
	padding: 0;
	padding-top: 20px;
	& > ul {
		display: block;
		
		line-height: 1;
		& > li {
			&:last-child {
				& > a {
					border-bottom: none;
				}
			}
			& > a {
				position: relative;
				color: #333;
				font-weight: 400;
				padding: 12px 10px 11px 25px;

				display: block;
				border-bottom: 1px solid #e2e2e5;
				.caret {
					position: absolute;
					right: 0;
					top: 50%;
					transform: translate(0, -50%);
					&:before {
						background-image: url('../images/nav-sidebar-caret-right.png');
						transition: ease .2s;
						// opacity: 0;
						// visibility: hidden;
					}
					&:after {
						content: '';
						display: block;
						
						width: 5px;
						height: 8px;
						background-image: url('../images/nav-sidebar-caret-right-actve.png');
						transition: ease .2s;
						opacity: 0;
						visibility: hidden;
						
					}
				}
				.icon {
					position: absolute;
					top: 50%;
					left: 0;
					margin: 0;
					transform: translate(0, -50%);
				}
				&:hover {
					text-decoration: none;
					color: #42b154;
					.caret {
						// transform: translate(3px, -50%);
						&:before {
							background-image: url('../images/caret_right_green.png');
						}
						
					}
				}
				&.active {
					background-color: transparent !important;
					color: #333 !important;
					font-weight: 700;
					.caret {
						// transform: translate(3px, -50%);
						&:before {
							// background-image: url('../images/caret_right_green.png');
							opacity: 0;
							visibility: hidden;
						}
						&:after {
							opacity: 1;
							visibility: visible;
						}
						
					}
				}
				// @include mlg() {
				// 	font-size: 0;
				// 	padding: 10px 5px;
				// 	.icon-svg {
				// 		width: 16px;
				// 		height: 16px;
				// 		margin-right: 0;
				// 	}
				// 	.caret {
				// 		display: none;
				// 	}
				// }
				&.active {
					font-weight: 700;
					color: #000;
				}
			}
		}
	}
}
.nav-sidebar_without_icons {
	& > ul {
		& > li {
			& > a {
				padding-left: 0;
			}
		}
	}
}