.nav-introduction {
	
}
.nav-introduction__wrap {
	// overflow: hidden;
}
.nav-introduction__intro {
	@media only screen and(max-width: 1529px) {
		max-width: 25%;
	}
	@include mlg() {
		max-width: none;
	}
	@media only screen and(min-width: 1530px) {
		max-width: 20%;
	}
}