.nav-global {
	& > ul {
		border-radius: 4px;
		overflow: hidden;
		& > li {
			line-height: 1;
			flex-grow: 1;
			border-right: 1px solid #d9dce1;				
			& > a {
				display: block;
				background-color: #e9ecf1;

				color: #333333;
				font-size: 14px;
				line-height: 1;
				text-align: center;
				padding: 13px 10px 11px;
				transition: ease .2s;
				span {
				}
				.icon {
					position: relative;
					margin-top: -2px;
				}
				.notif-white {
					position: relative;
					margin-top: -2px;
				}
				&:hover {
					// color: #fff;
					text-decoration: none;
					background-color: #d6dae0;
				}
				&.active {
					background-color: #b13b3b;
					color: #fff;
					&:hover {
						color: #fff;
					}
				}
				@include mmd() {
					height: 100%;
					display: flex;
					align-items: center;
					justify-content: center;
				}
			}
		}
	}
}

.nav-global_items-nofull {
	& > ul {
		& > li {
			flex: 0 1 auto;
			width: auto;
			a {
				padding-left: 20px;
				padding-right: 20px;
				
			}
		}		
	}
}
.tab-content {

}
.tab-content__wrap {
	@include msm() {
		// padding-right: 0;
	}
}
.tab-content__main {
	// padding-top: 7px;
}
.tab-content__sidebar {

	@media only screen and(min-width: 1530px) {
		flex: 0 0 18.3%;
		max-width: 18.3%;
	}
	@include mlg() {
		// display: none;
	}
	@include msm() {
		// flex: 0 0 60px;
		// max-width: 60px;
	}
}
.tab-content__main {
	@media only screen and(min-width: 1530px) {
		flex: 0 0 81.7%;
		max-width: 81.7%;
	}
	@include mlg() {
		flex: 0 1 auto;
		max-width: none;
	}
	@include msm() {
		// padding-left: 0;
		.engineer-content {
			// margin-left: -5px;
		}
	}
}



.nav-global_design {
	& > ul {
		border-bottom: 1px solid #dbdbdf;
		overflow: visible;
		& > li {
			border-right-color: #fff;
			position: relative;
			
			& > a {
				position: static;
				font-size: 13px;
				line-height: 1;
				color: #333;
				position: relative;
				background-color: #f3f5f7;
				border: 1px solid transparent;
				border-radius: 4px 4px 0 0;
				&:after {
					content: '';
					position: absolute;
					
					bottom: -2px;
					left: 0;
					right: 0;

					background-color: #fff;
					height: 2px;
					opacity: 0;
					visibility: hidden;
					
				}
				&:hover {
					background-color: #eee;
					color: #000;
				}
				&.active {
					background-color: #fff;
					color: #000;
					// font-weight: 700;
					border-color: #dbdbdf;
					border-bottom-color: transparent;
					&:after {
						opacity: 1;
						visibility: visible;
						
					}
					&:hover {
						color: #000;
					}
				}
			}
		}
	}
	@include mmd() {
		& > ul {
			border-bottom: none;
			& > li {
				// max-width: 33.3%;
				// flex: 0 0 33.3%;
				// width: 100%;
				& > a {
					border-radius: 4px;
					white-space: nowrap;
					&.active {
						border-bottom: 1px solid #dbdbdf;
						&:after {
							display: none;
						}
					}
				}
			}
		}
	}
	@include msm() {
		& > ul {
			& > li {
				max-width: 50%;
				flex: 0 0 50%;
			}
		}
	}
}
.nav-global_border {
	& > ul {
		border: none;
		position: relative;
		
		z-index: 2;
	}
	.tab-content {
		border: 1px solid #dbdbdf;
	}
}
.tab-pane_engineer {
	padding-top: 20px;
	// height: 2000px;
}

.nav-tabs {
	ul {
		border-bottom: 1px solid #dbdbdf;
	}
}
.nav-global_customer {
	& > ul {
		& > li {
			@include msm() {
				flex: 0 1 auto;
				max-width: none;
				width: 100%;
			}
		}
	}
}



// .complicated-tabs {

// }
// .complicated-tabs-menu {
// }
// .complicated-tabs-carousel {
// 	.owl-stage {
// 		border-bottom: 1px solid #dbdbdf;
// 	}
// 	.owl-nav .disabled {
// 		display: none;
// 	}
// }
// .complicated-tabs-content {

// }
// .complicated-tabs-item {

// }
// .complicated-tabs-item__title {
// 	margin-bottom: 20px;
// 	h2 {
// 		font-size: 18px;
// 		line-height: 28px;
// 		color: #000;
// 		font-weight: 700;
// 	}
// }
// .complicated-tabs__item {
// 	padding-top: 20px;
// 	padding-bottom: 30px;
// 	border-bottom: 1px solid #e4e4e7;
// 	&:first-child {
// 		padding-top: 0;
// 	}
// 	&:last-child {
// 		padding-bottom: 0;
// 		border-bottom: none;
// 	}
// }