.nav-pills {
	& > ul {
		display: block;
		border: none;
		& > li {
			display: list-item;
		}
		& > a {
			text-align: left;
			&:hover {
				background-color: transparent;	
			}
			&.active {
				background-color: transparent;
				border: none;
			}
		}
	}
}