.pagination {
	ul {
	}
	li {
		margin-bottom: 5px;
		&.active {
			a, span {
				border: 1px solid #b13b3b;
				color: #b13b3b;
			}
		}
	}
	a, span {
		font-size: 12px;
		line-height: 1;
		color: #333;
		display: block;
		padding: 8px 10px 6px;

		border: 1px solid transparent;
		border-radius: 4px;
		text-align: center;
		&:hover {
			text-decoration: none;
			color: #b13b3b;
		}
	}
}