.payment-choise-form {

}
.payment-choise-form__col {
	margin-bottom: 15px;
}
.payment-choise-form__radio {
	label {
		font-size: 14px;
		line-height: 20px;
		&:before {
			top: 2px;
		}
	}
	strong {
		color: #000;
		font-weight: 700;
		display: block;
		
	}
}
