.personal-cab {
	// padding-left: 12px;
	// padding-right: 12px;
	position: relative;
	
	& > ul {
		margin-left: -10px;
		margin-right: -10px;
		& > li {
			padding-left: 10px;
			padding-right: 10px;
			position: relative;
			&:after {
				content: '';

				position: absolute;
				top: 50%;
				right: 0;
				transform: translate(0, -50%);
				width: 1px;
				height: 11px;
				background-color: #5e6169;
			}
			&:last-child {
				&:after {
					display: none;
				}
			}
			& > a {
				font-size: 12px;
				color: $light;
				&:hover {
					color: $light;
					text-decoration: none;
				}
			}
		}
	}
}
.personal-cab__button {
	padding: 0;
	background-color: transparent;
	border: none;
	color: #c7cddc;
	font-size: 12px;
	line-height: 30px;
	& > img {
		width: 20px;
		height: 20px;
		border-radius: 50%;
		vertical-align: middle;
		display: inline-block;
		position: relative;
		margin-top: -2px;
		margin-right: 10px;
	}
	.caret {
		position: relative;
		margin-top: -2px;
	}
}
.personal-cab__popup {
	background-color: #fff;
	padding: 10px 15px;
	width: 100%;
	max-width: 280px;
	border-radius: 4px;
	margin-top: 5px;

	position: absolute;
	top: 100%;
	left: 15px;
	z-index: 9;

	box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.3);
	
	transition: transform ease .15s, -webkit-transform ease .15s;

	display: none;
	
	&[style="display: block;"] {
	}
	& > ul {
		& > li {
			& > a {
				font-size: 16px;
				line-height: 26px;
			}
		}
	}
	a {
		font-size: 16px;
		line-height: 26px;
	}
}