.perspectives {
	margin-bottom: 30px;
	@include mmd() {
		margin-bottom: 20px;
	}
}
.perspectives__item {
	@include mxl() {
		padding-left: 15px;
		padding-right: 15px;
	}
}
.perspectives__img {
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: contain;
	border-radius: 50%;

	width: 100%;
	height: 100%;
	max-width: 110px;
	max-height: 110px;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	img {
		width: 100%;
		height: 100%;
		max-width: 110px;
		max-height: 110px;
		object-fit: cover;
		border-radius: 50%;
	}
}
.perspectives__content {
	h3 {
		font-size: 16px;
		font-weight: 700;
		line-height: 28px;
		color: #000;
		margin-bottom: 15px;
		text-transform: uppercase;
		
	}
	p {
		line-height: 22px;
		margin: 0;
	}
}
.perspectives__col {
	margin-bottom: 30px;
	@include mmd() {
		margin-bottom: 20px;
	}	
}