.portfolio-item {

}
.portfolio-item__case-col {
	@media only screen and (min-width: 1530px) {
		flex: 0 0 28.1%;
		max-width: 28.1%;
	}
}
.portfolio-item__case-col_large {
	@media only screen and (min-width: 1530px) {
		flex: 0 0 71.9%;
		max-width: 71.9%;
	}
	@include msm() {
		padding-left: 0;
		padding-right: 0;
	}
}

.portfolio-item__wrap {
	padding: 30px 29px 40px;
	border: 1px solid #e2e2e5;
	border-radius: 4px;
	position: relative;
	@include msm() {
		padding: 15px 15px 40px;
	}
}

.portfolio-item__toggle-button {
	position: absolute;
	
	bottom: 0;
	left: 0;
	right: 0;
	&.active {
		.caret {
			-webkit-transform: rotate(180deg);
			-moz-transform: rotate(180deg);
			-ms-transform: rotate(180deg);
			-o-transform: rotate(180deg);
			transform: rotate(180deg);
			
		}
	}
}
.portfolio-item__col {
	@media only screen and (min-width: 1530px) {
		flex: 0 0 calc(100% - 890px);
		max-width: calc(100% - 890px);		
	}
}
.portfolio-item__col-large {
	@media only screen and (min-width: 1530px) {
		flex: 0 0 890px;
		max-width: 890px;
	}
}