.preview-link {
	display: inline-block;
	position: relative;
	// border: 1px solid #e2e2e5;
	&:before {
		content: '';

		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;

		background-color: rgba(#000, .3);
		background-image: url('../images/icon-zoom-white.png');
		
		background-size: 23px 24px;
		background-repeat: no-repeat;
		background-position: 50% 50%;

		opacity: 0;
		visibility: hidden;
		transition: ease .2s;
	}
	&:hover {
		&:before {
			opacity: 1;
			visibility: visible;
		}
	}
}
.preview-link__radius {
	border-radius: 4px;
}
.preview-link_border {
	border: 1px solid #e2e2e5;
}