.tab-content-item {
	border-bottom: 1px solid #e2e2e5;
	padding: 25px 0;

	&:last-child {
		border: none;
		padding-bottom: 0;
	}
	// &.border-none {
	// 	border: none;
	// }
}

.tab-content-item_else {
	border-bottom: none;
	padding-bottom: 10px;	
}