.task {

}
.task__row {

}
.task__col {

}
.task__head {
	margin-bottom: 20px;
	@include mmd() {
		margin-bottom: 10px;
	}
}
.task__head-col {
	@include msm() {
		width: 100%;
		margin-bottom: 10px;
	}
}
.task__info {
	font-size: 13px;
	line-height: 22px;
	span, strong {
		display: inline-block;
		vertical-align: top;
	}
	strong {
		font-weight: 700;
		color: #000;
	}
}
.task__balance {
	font-size: 20px;
	line-height: 22px;
	strong {
		color: #42b154;
	}
}

.task__body {
	border: 1px solid #e2e2e5;
	padding: 27px 29px;
	margin-bottom: 25px;
	@include mmd() {
		padding: 15px;
	}
}
.task__content {
	font-size: 14px;
	line-height: 22px;
	margin-bottom: 28px;
	@include mmd() {
		margin-bottom: 20px;
	}
	p {
		margin-bottom: 23px;
	}
}
.task__uploaded-files {
	// margin-bottom: 27px;
	// @include mmd() {
	// 	margin-bottom: 20px;
	// }
}
.task__info-more {

}
.task__info-more-col {
	font-size: 13px;
	line-height: 22px;
	strong {
		font-weight: 700;
		color: #000;
	}
	.icon {
		margin-top: -3px;
	}
}