.team-item {
	.favourites-section__engineer {
		@include mmd() {
			margin-bottom: 30px;
		}	
		&:nth-last-child(-n+2) {
			margin-bottom: 10px;
			@include mmd() {
				margin-bottom: 30px;
			}
		}
	}
}
.team-item__title {
	margin-bottom: 30px;
	@include mmd() {
		margin-bottom: 20px;
	}
	h2 {
		font-size: 18px;
		line-height: 28px;
		font-weight: 700;
		color: #000;
	}
}