.tooltip {
	.arrow {
		&:before {
		}
	}
	&.show {
		opacity: 1;
	}
}
.tooltip-inner {
	max-width: none;
	background-color: #232a3a;
	font-size: 13px;
	line-height: 20px;
	padding: 8px 20px 10px;
	border-radius: 4px;
	color: #fff;
}
.bs-tooltip-top .arrow::before, .bs-tooltip-auto[x-placement^="top"] .arrow::before {
	border-top-color: #232a3a;			
}