.uploaded-files {
	
}
.uploaded-files__in {
	margin-left: -10px;
	margin-right: -10px;
}
.uploaded-files__item {
	padding-left: 10px;
	padding-right: 10px;
	.preview-link {
		img {
			border: 1px solid #dbdbdb;
			border-radius: 4px;
			margin-bottom: 5px;
		}
		div {
			font-size: 11px;
			line-height: 21px;
		}
		&:before {
			display: none;
		}
	}
}

.uploaded-files__archieve {
	line-height: 22px;
	color: #42b154;
	display: inline-block;
	margin-bottom: 15px;
	transition: ease .2s;
	&:hover {
		color: #187c27;
		text-decoration: none;
	}
	.icon {
		margin-right: 7px;
	}
}
.uploaded-files__title {
	margin-bottom: 7px;
	h4 {
		font-size: 13px;
		line-height: 22px;
		color: #000;
		font-weight: 700;
	}
}