.user {
	strong {
		font-weight: 700;
		color: #000;
	}
}
.user__img-wrap	{
	width: 24px;
	height: 24px;
	border-radius: 50%;
	display: inline-block;
	vertical-align: top;
	overflow: hidden;
	
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
	img {
		width: 24px;
		height: 24px;
		border-radius: 50%;
		vertical-align: top;
	}
}
.user__img {
	width: 24px;
	height: 24px;
	border-radius: 50%;
	vertical-align: top;
}

.user_large {
	.user__img-wrap {
		width: 56px;
		height: 56px;
		img {
			width: 56px;
			height: 56px;
		}
	}
	.user__img {
		width: 56px;
		height: 56px;
	}
}

.user_medium {
	.user__img-wrap {
		width: 31px;
		height: 31px;
		img {
			width: 31px;
			height: 31px;
		}
	}
	.user__img {
		width: 31px;
		height: 31px;
	}
}