.user-wrap {

}
.user-wrap__row {
	margin-left: -10px;
	margin-right: -10px;
}
.user-wrap__col {
	padding-left: 10px;
	padding-right: 10px;
}
.user-wrap__title {
	font-size: 13px;
	line-height: 20px;
	h3 {
		font-size: 14px;
		line-height: 20px;
		color: #000;
		font-weight: 700;
		margin: 0;
	}
}