.yours-publications {

}
.yours-publications__col {
	margin-bottom: 15px;
}
.yours-publications__item {

}
.yours-publications__head-title {
	margin-bottom: 35px;
	@include mmd() {
		margin-bottom: 20px;
	}
	h2 {
		font-size: 32px;
		line-height: 40px;
		font-weight: 300;
		color: #000;
	}
}
.yours-publications__title {
	margin-bottom: 13px;
	h3 {
		text-transform: uppercase;
		font-size: 16px;
		font-weight: 700;
		line-height: 26px;
		color: #000;
	}
}
.yours-publications__list {
	li {
		line-height: 28px;
		position: relative;
		padding-left: 15px;
		&:before {
			content: '';
			position: absolute;
			
			top: 13px;
			left: 0;

			width: 8px;
			height: 1px;
			background-color: #116fff;

		}
	}
}