<div class="about-me-section">
	<div class="row">
		<div class="tab-content__sidebar col-lg-4 col-xl-3">
			<div class="nav-sidebar sidebar-stick nav-sidebar-spy">
				<ul class="list-clr nav nav-pills">
					<li class="nav-item">
						<a href="#id1" class="nav-link active">
							<span class="icon icon-notif"></span>
							<span>Основная информация</span>
							<span class="caret caret_right_grey"></span>
						</a>
					</li>
					<li class="nav-item">
						<a href="#id2" class="nav-link">
							<span class="icon icon-add"></span>
							<span>Дополнительно</span>
							<span class="caret caret_right_grey"></span>
						</a>
					</li>
					<li class="nav-item">
						<a href="#id3" class="nav-link">
							<span class="icon icon-cam"></span>
							<span>Личные качества</span>
							<span class="caret caret_right_grey"></span>
						</a>
					</li>
					<li class="nav-item">
						<a href="#id4" class="nav-link">
							<span class="icon icon-map-marker-small"></span>
							<span>Мобильность</span>
							<span class="caret caret_right_grey"></span>
						</a>
					</li>
					<li class="nav-item">
						<a href="#id5" class="nav-link">
							<span class="icon icon-pen-bird"></span>
							<span>Фото-видео</span>
							<span class="caret caret_right_grey"></span>
						</a>
					</li>
					<li class="nav-item">
						<a href="#id6" class="nav-link">
							<span class="icon icon-envelope-green"></span>
							<span>Контакты</span>
							<span class="caret caret_right_grey"></span>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="tab-content__main col-lg-8 col-xl-9">
			<div class="tab-content-item about-me" id="id1">
				<div class="row">
					<div class="col-xl-6 mb-20">
						<div class="about-me__content content">
							<h3>Основная информация</h3>
							<p>Мы – это глобальная команда стратегов, архитекторов, дизайнеров, разработчиков и инженеров по качеству. В сотрудничестве с вами, используя свой опыт и знания, мы создаем инновационные технологии для решения наиболее важных задач вашего бизнеса.  </p>
							<p>Мы мыслим глобально, но работаем с каждым клиентом с учетом особенностей его компании и сферы деятельности. Мы уверены: для бизнеса очень выгодно иметь лучшее программное обеспечение. Но для его создания нужен принципиально новый подход к формированию команды и компетенций – подход, ориентированный на достижение бизнес-результатов. Именно такой подход лежит в основе мировоззрения EPAM.</p>
						</div>
					</div>
					<div class="col-xl-6 mb-20">
						<iframe width="900" height="555" src="https://www.youtube.com/embed/G0dJT4yMQ6o?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen="" class="about-me__iframe" data-dm-button-id="download-master-button-25461366"></iframe>
					</div>
				</div>
			</div>
			<div class="tab-content-item about-me" id="id2">
				<div class="about-me__title title mb-20">
					<h3>Дополнительная информация</h3>
				</div>
				<div class="about-me__details">
					<ul class="list-clr d-flex flex-wrap">
						<li>
							<div class="icon icon-de align-middle mr-10"></div>
							<span>Свободно владею немецким языком</span>
						</li>
						<li>
							<div class="icon icon-uk align-middle mr-10"></div>
							<span>Свободно владею английским языком</span>
						</li>
						<li>
							<div class="icon icon-heart-green align-middle mr-10"></div>
							<span>Женат, есть дочь</span>
						</li>
						<li>
							<div class="icon icon-car-green align-middle mr-10"></div>
							<span>Водительский права категории В</span>
						</li>
						<li>
							<div class="icon icon-ue-green align-middle mr-10"></div>
							<span>Имею шенгенскую визу</span>
						</li>
						<li>
							<div class="icon icon-case2-green align-middle mr-10"></div>
							<span>Готов к длительным компандировкам</span>
						</li>
						<li>
							<div class="icon icon-noAlcho-green align-middle mr-10"></div>
							<span>Спиртное не употребляю</span>
						</li>
						<li>
							<div class="icon icon-noSmoke-green align-middle mr-10"></div>
							<span>Не курю</span>
						</li>
					</ul>
				</div>
			</div>
			<div class="tab-content-item about-me" id="id3">
				<div class="about-me__title title mb-20">
					<h3>Личные качества</h3>
				</div>
				<div class="about-me__personal">
					<ul class="list-clr d-flex flex-wrap justify-content-between">
						<li>
							<div class="mb-10">
								<span class="icon icon-check-green align-middle mr-10"></span>
								<span>Инициативность.</span>
							</div>
							<ul class="list-clr">
								<li>Разработал и реализовал стратегию выхода отдела из кризиса, когда ушёл руководитель.</li>
							</ul>
						</li>
						<li>
							<div class="mb-10">
								<span class="icon icon-check-green align-middle mr-10"></span>
								<span>Стрессоустойчивость.</span>
							</div>
							<ul class="list-clr">
								<li>Провёл успешные переговоры с клиентом, который отказал семи менеджерам, и заключил сам договор.</li>
							</ul>
						</li>
						<li>
							<div class="mb-10">
								<span class="icon icon-check-green align-middle mr-10"></span>
								<span>Энергичность.</span>
							</div>
							<ul class="list-clr">
								<li>Объём моих продаж за 2014 год был 30% выше среднего по отделу.</li>
							</ul>
						</li>
						<li>
							<div class="mb-10">
								<span class="icon icon-check-green align-middle mr-10"></span>
								<span>Лидерство.</span>
							</div>
							<ul class="list-clr">
								<li>Провёл пять тренингов по менеджменту и вырастил 10 руководителей из линейных сотрудников.</li>
							</ul>
						</li>
						<li>
							<div class="mb-10">
								<span class="icon icon-check-green align-middle mr-10"></span>
								<span>Инициативность.</span>
							</div>
							<ul class="list-clr">
								<li>Разработал и реализовал стратегию выхода отдела из кризиса, когда ушёл руководитель.</li>
							</ul>
						</li>
						<li>
							<div class="mb-10">
								<span class="icon icon-check-green align-middle mr-10"></span>
								<span>Стрессоустойчивость.</span>
							</div>
							<ul class="list-clr">
								<li>Провёл успешные переговоры с клиентом, который отказал семи менеджерам, и заключил сам договор.</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
			<div class="tab-content-item about-me" id="id4">
				<div class="about-me__title title mb-20">
					<h3>Мобильность</h3>
				</div>
				<div class="mobility">
					<div class="mobility__img mb-20">
						<img src="images/eu-map.jpg" alt="">
						<div class="mobility__descr">
							<strong>
								<span class="icon-svg icon-svg_pass_white"></span>
								<span>Действующие визы:</span>
							</strong>
							<span>Шенген, ОАЭ, Англия</span>
						</div>
					</div>
					<div class="mobility__worked row mb-30">
						<div class="col-sm-6 col-md-4 mb-10">
							<div class="icon icon-map-marker-red aling-middle mr-10"></div>
							<span>Работал в этой точке</span>
						</div>
						<div class="mobility__go-stat col-sm-6 col-md-4 mb-10">
							<span>Готов поехать сюда</span>
						</div>
						<div class="mobility__go-stat mobility__go-stat_unready col-sm-6 col-md-4 mb-10">
							<span>Не готов поехать сюда</span>
						</div>
					</div>
					<div class="mobility__place row">
						<div class="col-sm-6 col-md-4 mb-10">
							<strong>Работал:</strong>
							<span>Герамания, Бельгия, Нидерланды</span>
						</div>
						<div class="col-sm-6 col-md-4 mb-10">
							<strong>Готов работать:</strong>
							<span>Германия, Бельгия, Нидерланды</span>
						</div>
						<div class="col-sm-6 col-md-4 mb-10">
							<strong>Не готов работать:</strong>
							<span>Беларусь</span>
						</div>
					</div>
				</div>
			</div>
			<div class="tab-content-item about-me" id="id5">
				<div class="about-me__title title mb-20">
					<h3>Фото-видео</h3>
				</div>
				<div class="engineer-carousel owl-carousel owl-theme">
					<div class="engineer-carousel__item">
						<a href="#" class="engineer-prev mb-20" style="background-image: url(images/engineerPrev1.jpg);">
							<div class="engineer-prev__txt">Провёл успешные переговоры с клиентом, который отказал семи менеджерам, и заключил сам договор.</div>
						</a>
						<a href="#" class="engineer-prev mb-20" style="background-image: url(images/engineerPrev5.jpg);">
							<div class="engineer-prev__txt">Провёл успешные переговоры с клиентом, который отказал семи менеджерам, и заключил сам договор.</div>
						</a>
					</div>
					<div class="engineer-carousel__item">
						<a href="#" class="engineer-prev mb-20" style="background-image: url(images/engineerPrev2.jpg);">
							<div class="engineer-prev__txt">Провёл успешные переговоры с клиентом, который отказал семи менеджерам, и заключил сам договор.</div>
						</a>
						<a href="#" class="engineer-prev mb-20" style="background-image: url(images/engineerPrev6.jpg);">
							<div class="engineer-prev__txt">Провёл успешные переговоры с клиентом, который отказал семи менеджерам, и заключил сам договор.</div>
						</a>
					</div>
					<div class="engineer-carousel__item">
						<a href="#" class="engineer-prev mb-20" style="background-image: url(images/engineerPrev3.jpg);">
							<div class="engineer-prev__txt">Провёл успешные переговоры с клиентом, который отказал семи менеджерам, и заключил сам договор.</div>
						</a>
						<a href="#" class="engineer-prev mb-20" style="background-image: url(images/engineerPrev7.jpg);">
							<div class="engineer-prev__txt">Провёл успешные переговоры с клиентом, который отказал семи менеджерам, и заключил сам договор.</div>
						</a>
					</div>
					<div class="engineer-carousel__item">
						<a href="#" class="engineer-prev mb-20" style="background-image: url(images/engineerPrev4.jpg);">
							<div class="engineer-prev__txt">Провёл успешные переговоры с клиентом, который отказал семи менеджерам, и заключил сам договор.</div>
						</a>
						<a href="#" class="engineer-prev mb-20" style="background-image: url(images/engineerPrev8.jpg);">
							<div class="engineer-prev__txt">Провёл успешные переговоры с клиентом, который отказал семи менеджерам, и заключил сам договор.</div>
						</a>
					</div><div class="engineer-carousel__item">
						<a href="#" class="engineer-prev mb-20" style="background-image: url(images/engineerPrev1.jpg);">
							<div class="engineer-prev__txt">Провёл успешные переговоры с клиентом, который отказал семи менеджерам, и заключил сам договор.</div>
						</a>
						<a href="#" class="engineer-prev mb-20" style="background-image: url(images/engineerPrev5.jpg);">
							<div class="engineer-prev__txt">Провёл успешные переговоры с клиентом, который отказал семи менеджерам, и заключил сам договор.</div>
						</a>
					</div>
					<div class="engineer-carousel__item">
						<a href="#" class="engineer-prev mb-20" style="background-image: url(images/engineerPrev2.jpg);">
							<div class="engineer-prev__txt">Провёл успешные переговоры с клиентом, который отказал семи менеджерам, и заключил сам договор.</div>
						</a>
						<a href="#" class="engineer-prev mb-20" style="background-image: url(images/engineerPrev6.jpg);">
							<div class="engineer-prev__txt">Провёл успешные переговоры с клиентом, который отказал семи менеджерам, и заключил сам договор.</div>
						</a>
					</div>
					<div class="engineer-carousel__item">
						<a href="#" class="engineer-prev mb-20" style="background-image: url(images/engineerPrev3.jpg);">
							<div class="engineer-prev__txt">Провёл успешные переговоры с клиентом, который отказал семи менеджерам, и заключил сам договор.</div>
						</a>
						<a href="#" class="engineer-prev mb-20" style="background-image: url(images/engineerPrev7.jpg);">
							<div class="engineer-prev__txt">Провёл успешные переговоры с клиентом, который отказал семи менеджерам, и заключил сам договор.</div>
						</a>
					</div>
					<div class="engineer-carousel__item">
						<a href="#" class="engineer-prev mb-20" style="background-image: url(images/engineerPrev4.jpg);">
							<div class="engineer-prev__txt">Провёл успешные переговоры с клиентом, который отказал семи менеджерам, и заключил сам договор.</div>
						</a>
						<a href="#" class="engineer-prev mb-20" style="background-image: url(images/engineerPrev8.jpg);">
							<div class="engineer-prev__txt">Провёл успешные переговоры с клиентом, который отказал семи менеджерам, и заключил сам договор.</div>
						</a>
					</div>
				</div>
			</div>
			<div class="tab-content-item about-me" id="id6">
				<div class="about-me__title title mb-20">
					<h3>Контакты</h3>
				</div>
				<div class="about-me__contacts">
					<ul class="list-clr d-flex flex-wrap">
						<li>
							<span class="icon icon-map-marker-small align-middle mr-10"></span>
							<span>
								<strong>Местонахождение:</strong>
								<span>Польша, Варшава</span>
							</span>
						</li>
						<li>
							<span class="icon icon-skype-green align-middle mr-10"></span>
							<span>
								<strong>Skype:</strong>
								<a href="#">wmiller</a>
							</span>
						</li>
						<li>
							<span class="icon icon-earth-green align-middle mr-10"></span>
							<span>
								<strong>Сайт:</strong>
								<a href="#">wolfgangmiller.com</a>
							</span>
						</li>
						<li>
							<span class="icon icon-envelope-green align-middle mr-10"></span>
							<span>
								<strong>E-mail:</strong>
								<a href="#">wolfgang.miller@gmail.com</a>
							</span>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>