<div class="nav-intro__description background_red_gradient animated">
	<div class="nav-intro__description-inner d-lg-flex">
		<div class="nav-intro__col nav-intro__col_large">
			<div class="nav-intro__elem">
				<div class="nav-intro__elem-img-outer">
					<img src="images/nav-intro-img1.png" alt="" class="nav-intro__elem-img">
				</div>
				<div class="nav-intro__content">
					<h3>Это Герхарт</h3>
					<p>На нашем сайте он нашел частного инженера, который сделал работу за €500 всего за 3 дня, хотя официльный сервис запрашивал €5500 и 3 недели на работы.</p>
				</div>
			</div>
			<div class="nav-intro__elem">
				<div class="nav-intro__elem-img-outer">
					<img src="images/nav-intro-img2.png" alt="" class="nav-intro__elem-img">
				</div>
				<div class="nav-intro__content">
					<h3>Это Гюнтер</h3>
					<p>Он заплатил официальным сервисникам €5500 вместо €500 и до сих пор ждет пока они вышлют ему инженера на ремонтные работы.</p>
				</div>
			</div>
		</div>
		<div class="nav-intro__col nav-intro__col_small">
			<div class="nav-intro__task background_red">
				<div class="nav-intro__task-in">
					<p>Биржа сертифицированных инженеров рядом с вами позволяет <strong>устранить зависимость</strong> от сервисных услуг компании, которая выпустила установленное у вас оборудование.</p>
					<p>Это позволит производить инженерные работы <strong>в несколько раз дешевле и быстрее.</strong></p>
				</div>
				<div class="nav-intro__task-button">
					<a href="#" class="button-border d-block">Создать задачу <span class="caret caret_white_right"></span></a>
				</div>
			</div>
		</div>
	</div>
</div>