<div class="equip-carousel owl-carousel owl-theme">
	<div>
		<a href="#" class="equip-box d-block">
			<div class="equip-box__img" style="background-image: url(images/equip1.png);"></div>
			<div class="mt-20 text-right">Влажности</div>
		</a>
		<a href="#" class="equip-box d-block">
			<div class="equip-box__img" style="background-image: url(images/equip5.png);"></div>
			<div class="mt-20 text-right">Уровня</div>
		</a>
	</div>
	<div>
		<a href="#" class="equip-box d-block">
			<div class="equip-box__img" style="background-image: url(images/equip2.png);"></div>
			<div class="mt-20 text-right">Тензодатчики</div>
		</a>
		<a href="#" class="equip-box d-block">
			<div class="equip-box__img" style="background-image: url(images/equip6.png);"></div>
			<div class="mt-20 text-right">Протока</div>
		</a>
	</div>
	<div>
		<a href="#" class="equip-box d-block">
			<div class="equip-box__img" style="background-image: url(images/equip3.png);"></div>
			<div class="mt-20 text-right">Давления</div>
		</a>
		<a href="#" class="equip-box d-block">
			<div class="equip-box__img" style="background-image: url(images/equip7.png);"></div>
			<div class="mt-20 text-right">Крутящего момента</div>
		</a>
	</div>
	<div>
		<a href="#" class="equip-box d-block">
			<div class="equip-box__img" style="background-image: url(images/equip1.png);"></div>
			<div class="mt-20 text-right">Влажности</div>
		</a>
		<a href="#" class="equip-box d-block">
			<div class="equip-box__img" style="background-image: url(images/equip5.png);"></div>
			<div class="mt-20 text-right">Уровня</div>
		</a>
	</div>
	<div>
		<a href="#" class="equip-box d-block">
			<div class="equip-box__img" style="background-image: url(images/equip4.png);"></div>
			<div class="mt-20 text-right">Температуры</div>
		</a>
		<a href="#" class="equip-box d-block">
			<div class="equip-box__img" style="background-image: url(images/equip8.png);"></div>
			<div class="mt-20 text-right">Деформации</div>
		</a>
	</div>
	<div>
		<a href="#" class="equip-box d-block">
			<div class="equip-box__img" style="background-image: url(images/equip1.png);"></div>
			<div class="mt-20 text-right">Влажности</div>
		</a>
		<a href="#" class="equip-box d-block">
			<div class="equip-box__img" style="background-image: url(images/equip5.png);"></div>
			<div class="mt-20 text-right">Уровня</div>
		</a>
	</div>
	<div>
		<a href="#" class="equip-box d-block">
			<div class="equip-box__img" style="background-image: url(images/equip2.png);"></div>
			<div class="mt-20 text-right">Тензодатчики</div>
		</a>
		<a href="#" class="equip-box d-block">
			<div class="equip-box__img" style="background-image: url(images/equip6.png);"></div>
			<div class="mt-20 text-right">Протока</div>
		</a>
	</div>
	<div>
		<a href="#" class="equip-box d-block">
			<div class="equip-box__img" style="background-image: url(images/equip3.png);"></div>
			<div class="mt-20 text-right">Давления</div>
		</a>
		<a href="#" class="equip-box d-block">
			<div class="equip-box__img" style="background-image: url(images/equip7.png);"></div>
			<div class="mt-20 text-right">Крутящего момента</div>
		</a>
	</div>
	<div>
		<a href="#" class="equip-box d-block">
			<div class="equip-box__img" style="background-image: url(images/equip1.png);"></div>
			<div class="mt-20 text-right">Влажности</div>
		</a>
		<a href="#" class="equip-box d-block">
			<div class="equip-box__img" style="background-image: url(images/equip5.png);"></div>
			<div class="mt-20 text-right">Уровня</div>
		</a>
	</div>
	<div>
		<a href="#" class="equip-box d-block">
			<div class="equip-box__img" style="background-image: url(images/equip4.png);"></div>
			<div class="mt-20 text-right">Температуры</div>
		</a>
		<a href="#" class="equip-box d-block">
			<div class="equip-box__img" style="background-image: url(images/equip8.png);"></div>
			<div class="mt-20 text-right">Деформации</div>
		</a>
	</div>
</div>