<div class="portfolio-section">
	<div class="row">
		<div class="tab-content__sidebar col-lg-4 col-xl-3">
			<div class="nav-sidebar sidebar-stick nav-sidebar-spy">
				<ul class="list-clr nav nav-pills">
					<li class="nav-item">
						<a href="#id1" class="nav-link active">
							<span class="icon icon-notif align-middle mr-10"></span>
							<span class="align-middle">Кейсы</span>
							<span class="caret caret_right_grey"></span>
						</a>
					</li>
					<li class="nav-item">
						<a href="#id2" class="nav-link">
							<span class="icon icon-cam align-middle mr-10"></span>
							<span class="align-middle">Лучшие работы</span>
							<span class="caret caret_right_grey"></span>
						</a>
					</li>
					<li class="nav-item">
						<a href="#id3" class="nav-link">
							<span class="icon icon-add align-middle mr-10"></span>
							<span class="align-middle">Клиенты</span>
							<span class="caret caret_right_grey"></span>
						</a>
					</li>
					<li class="nav-item">
						<a href="#id4" class="nav-link">
							<span class="icon icon-map-marker-small align-middle mr-10"></span>
							<span class="align-middle">Все работы</span>
							<span class="caret caret_right_grey"></span>
						</a>
					</li>
					<li class="nav-item">
						<a href="#id5" class="nav-link">
							<span class="icon icon-pen-bird align-middle mr-10"></span>
							<span class="align-middle">Собственные изобретения</span>
							<span class="caret caret_right_grey"></span>
						</a>
					</li>
					<li class="nav-item">
						<a href="#id6" class="nav-link">
							<span class="icon icon-exhibitions align-middle mr-10"></span>
							<span class="align-middle">Выставки</span>
							<span class="caret caret_right_grey"></span>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="tab-content__main col-lg-8 col-xl-9">
			<div class="tab-content-item portfolio-item pb-40" id="id1">
				<div class="title mb-20">
					<h2>Кейсы</h2>
				</div>
				<div class="portfolio-item__wrap">
					<div class="row mb-20">
						<div class="portfolio-item__col portfolio-item__col-large col-xl-9">
							<div class="row">
								<div class="portfolio-item__case-col col-xl-3">
									<div class="d-block text-center mb-20 mb-xl-0">
										<img src="images/caseLogo.jpg" alt="">
									</div>
								</div>
								<div class="portfolio-item__case-col portfolio-item__case-col_large col-xl-9 text-center text-xl-left">
									<div class="article-head">
										<div class="title">
											<h2>Установка сложных автомобильных весов</h2>
										</div>
										<ul class="article-head__descr mb-20 list-clr d-flex flex-wrap justify-content-center justify-content-xl-start">
											<li>
												<span class="color-grey">Дата реализации:</span>
												<span>Сбор весовой схемы</span>
											</li>
											<li>
												<span class="color-grey">Потрачено времени:</span>
												<span>05.10.2014</span>
											</li>
										</ul>
									</div>
									<div class="content-wrap mb-20">
										<div>
											<strong>Клиент: </strong>
											<span>CAS</span>
										</div>
										<div>
											<strong>Сфера: </strong>
											<span>Нефть</span>
										</div>
									</div>
									<div class="title mb-20">
										<h6>Описание ситуации: </h6>
										<p>Тензодатчики балочного типа прямоугольной формы. Широко применяются в платформенных весах.</p>
									</div>
									<div class="title mb-20">
										<h6>Описание без вмешательства: </h6>
										<p>Широко применяются в платформенных весах. Датчики имеют более низкую стоимость по сравнению с T2 и T4, но сложнее встраиваются в весоизмерительные системы. Поэтому покупать лучше в комплекте с опорами.</p>
									</div>
									<div class="title mb-20">
										<h6>Интеграционные решения: </h6>
										<p>Датчики имеют более низкую стоимость по сравнению с Т2 и Т4, но сложнее встраиваются в весоизмерительные системы.</p>
									</div>
									<div class="title mb-20">
										<h6>Порядок взаимодействия: </h6>
										<p>Тензодатчики балочного типа прямоугольной формы. Широко применяются в платформенных весах.</p>
									</div>
								</div>
							</div>
						</div>
						<div class="portfolio-item__col col-xl-3 text-center">
							<a href="script;" data-fancybox="galery7" data-src="images/previewImg1.jpg" class="preview-link preview-link_border mr-10 mr-xl-0 mb-20 mb-xl-30"><img src="images/previewImg1.jpg" alt=""></a>
							<a href="script;" data-fancybox="galery7" data-src="images/previewImg2.jpg" class="preview-link"><img src="images/previewImg2.jpg" alt=""></a>
						</div>
					</div>
					<div class="portfolio-item__wrap-inner">
						<div class="portfolio-item__box-toggle hidden">
							<div class="row">
								<div class="col-xl-6">
									<div class="title mb-20">
										<h6>Описание ситуации: </h6>
										<p>Тензодатчики балочного типа прямоугольной формы. Широко применяются в платформенных весах.</p>
									</div>
								</div>
								<div class="col-xl-6">
									<div class="title mb-20">
										<h6>Описание ситуации: </h6>
										<p>Тензодатчики балочного типа прямоугольной формы. Широко применяются в платформенных весах.</p>
									</div>
								</div>
								<div class="col-xl-6">
									<div class="title mb-20">
										<h6>Описание ситуации: </h6>
										<p>Тензодатчики балочного типа прямоугольной формы. Широко применяются в платформенных весах.</p>
									</div>
								</div>
								<div class="col-xl-6">
									<div class="title mb-20">
										<h6>Описание ситуации: </h6>
										<p>Тензодатчики балочного типа прямоугольной формы. Широко применяются в платформенных весах.</p>
									</div>
								</div>
							</div>
						</div>
						<div>
							<a href="#" class="portfolio-item__toggle-button button-toggle d-block text-center caret_toggle ">
								<span>Показать полность</span>
								<span class="caret caret_bottom"></span>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="tab-content-item portfolio-item pt-20 pb-40">
				<div class="title mb-20">
					<h5>Список кейсов</h5>
				</div>
				<div class="case-carousel owl-carousel owl-theme">
					<a href="#" class="d-block case-box">
						<img src="images/caseImg1.jpg" alt="" class="case-box__img">
						<div class="case-box__content">
							<span>Клиент</span>
							<strong>CAS</strong>
							<h2>Установка сложных <br> автомобильных весов</h2>
						</div>
					</a>
					<a href="#" class="d-block case-box">
						<img src="images/caseImg2.jpg" alt="" class="case-box__img">
						<div class="case-box__content">
							<span>Клиент</span>
							<strong>Baykon</strong>
							<h2>Сбор тройной весовой схемы</h2>
						</div>
					</a>
					<a href="#" class="d-block case-box">
						<img src="images/caseImg3.jpg" alt="" class="case-box__img">
						<div class="case-box__content">
							<span>Клиент</span>
							<strong>Danfoss</strong>
							<h2>Проверка весов на вагонетках горного завода</h2>
						</div>
					</a>
					<a href="#" class="d-block case-box">
						<img src="images/caseImg1.jpg" alt="" class="case-box__img">
						<div class="case-box__content">
							<span>Клиент</span>
							<strong>CAS</strong>
							<h2>Установка сложных <br> автомобильных весов</h2>
						</div>
					</a>
					<a href="#" class="d-block case-box">
						<img src="images/caseImg2.jpg" alt="" class="case-box__img">
						<div class="case-box__content">
							<span>Клиент</span>
							<strong>Baykon</strong>
							<h2>Сбор тройной весовой схемы</h2>
						</div>
					</a>
					<a href="#" class="d-block case-box">
						<img src="images/caseImg3.jpg" alt="" class="case-box__img">
						<div class="case-box__content">
							<span>Клиент</span>
							<strong>Danfoss</strong>
							<h2>Проверка весов на вагонетках горного завода</h2>
						</div>
					</a>
				</div>
			</div>
			<div class="tab-content-item portfolio-item pt-20 pb-40" id="id2">
				<div class="title mb-20 text-center text-sm-left">
					<h2>Лучшие работы</h2>
				</div>
				<div class="row">
					<div class="col-sm-6 col-xl-3 mb-20">
						<a href="#" class="d-block best-work text-center text-sm-left">
							<img src="images/best1.jpg" alt="" class="best-work__img mb-10">
							<div class="best-work__content last-mb-cancel">
								<h5>Сбор весовой схемы</h5>
								<p>
									<span class="mr-5">Горный завод</span>
									<span>6 дней</span>
								</p>
							</div>
						</a>
					</div>
					<div class="col-sm-6 col-xl-3 mb-20">
						<a href="#" class="d-block best-work text-center text-sm-left">
							<img src="images/best2.jpg" alt="" class="best-work__img mb-10">
							<div class="best-work__content last-mb-cancel">
								<h5>Установка тензодатчика</h5>
								<p>
									<span class="mr-5">Гидроэлектростанция</span>
									<span>4 дня</span>
								</p>
							</div>
						</a>
					</div>
					<div class="col-sm-6 col-xl-3 mb-20">
						<a href="#" class="d-block best-work text-center text-sm-left">
							<img src="images/best3.jpg" alt="" class="best-work__img mb-10">
							<div class="best-work__content last-mb-cancel">
								<h5>Ремонт тензорезистора</h5>
								<p>
									<span class="mr-5">Пекарня</span>
									<span>5 дней</span>
								</p>
							</div>
						</a>
					</div>
					<div class="col-sm-6 col-xl-3 mb-20">
						<a href="#" class="d-block best-work text-center text-sm-left">
							<img src="images/best4.jpg" alt="" class="best-work__img mb-10">
							<div class="best-work__content last-mb-cancel">
								<h5>Установка тензодатчика</h5>
								<p>
									<span class="mr-5">Гидроэлектростанция</span>
									<span>4 дня</span>
								</p>
							</div>
						</a>
					</div>
				</div>
				<div>
					<div class="hidden">
						<div class="row">
							<div class="col-sm-6 col-xl-3 mb-20">
								<a href="#" class="d-block best-work text-center text-sm-left">
									<img src="images/best1.jpg" alt="" class="best-work__img mb-10">
									<div class="best-work__content last-mb-cancel">
										<h5>Сбор весовой схемы</h5>
										<p>
											<span class="mr-5">Горный завод</span>
											<span>6 дней</span>
										</p>
									</div>
								</a>
							</div>
							<div class="col-sm-6 col-xl-3 mb-20">
								<a href="#" class="d-block best-work text-center text-sm-left">
									<img src="images/best2.jpg" alt="" class="best-work__img mb-10">
									<div class="best-work__content last-mb-cancel">
										<h5>Установка тензодатчика</h5>
										<p>
											<span class="mr-5">Гидроэлектростанция</span>
											<span>4 дня</span>
										</p>
									</div>
								</a>
							</div>
							<div class="col-sm-6 col-xl-3 mb-20">
								<a href="#" class="d-block best-work text-center text-sm-left">
									<img src="images/best3.jpg" alt="" class="best-work__img mb-10">
									<div class="best-work__content last-mb-cancel">
										<h5>Ремонт тензорезистора</h5>
										<p>
											<span class="mr-5">Пекарня</span>
											<span>5 дней</span>
										</p>
									</div>
								</a>
							</div>
							<div class="col-sm-6 col-xl-3 mb-20">
								<a href="#" class="d-block best-work text-center text-sm-left">
									<img src="images/best4.jpg" alt="" class="best-work__img mb-10">
									<div class="best-work__content last-mb-cancel">
										<h5>Установка тензодатчика</h5>
										<p>
											<span class="mr-5">Гидроэлектростанция</span>
											<span>4 дня</span>
										</p>
									</div>
								</a>
							</div>
						</div>
					</div>
					<div class="mt-20">
						<a href="#" class="button-toggle d-block text-center caret_toggle ">
							<span>Показать полность</span>
							<span class="caret caret_bottom"></span>
						</a>
					</div>
				</div>
			</div>
			<div class="tab-content-item portfolio-item pt-20 pb-40" id="id3">
				<div class="row justify-content-between align-items-center no-gutters">
					<div class="title mb-20 text-center text-sm-left">
						<h2>Клиенты</h2>
					</div>
					<ul class="list-clr list-load row align-items-center mb-10">
						<li><a href="#" class="active">Все</a></li>
						<li><a href="#">Все производители</a></li>
						<li><a href="#">Тяжёлая промышленность</a></li>
						<li><a href="#">Лёгкая промышленность</a></li>
					</ul>
				</div>
				<div class="client-list row no-gutters">
					<div class="client-list__col">
						<a href="#" class="client-item d-flex flex-column align-items-center justify-content-between h-100">
							<div class="client-item__img mt-auto mb-auto" style="background-image: url(images/client1.png);"></div>
							<!-- <img src="images/client1.png" alt=""> -->
							<p>Fintec</p>
						</a>
					</div>
					<div class="client-list__col">
						<a href="#" class="client-item d-flex flex-column align-items-center justify-content-between h-100">
							<div class="client-item__img mt-auto mb-auto" style="background-image: url(images/client2.png);"></div>
							<!-- <img src="images/client2.png" alt=""> -->
							<p>Fintec</p>
						</a>
					</div>
					<div class="client-list__col">
						<a href="#" class="client-item d-flex flex-column align-items-center justify-content-between h-100">
							<div class="client-item__img mt-auto mb-auto" style="background-image: url(images/client3.png);"></div>
							<!-- <div>
								<img src="images/client3.png" alt="">
							</div> -->
							<p>Fintec</p>
						</a>
					</div>
					<div class="client-list__col">
						<a href="#" class="client-item d-flex flex-column align-items-center justify-content-between h-100">
							<div class="client-item__img mt-auto mb-auto" style="background-image: url(images/client4.png);"></div>
							<!-- <div>
								<img src="images/client4.png" alt="">
							</div> -->
							<p>Fintec</p>
						</a>
					</div>
					<div class="client-list__col">
						<a href="#" class="client-item d-flex flex-column align-items-center justify-content-between h-100">
							<div class="client-item__img mt-auto mb-auto" style="background-image: url(images/client5.png);"></div>
							<!-- <div>
								<img src="images/client5.png" alt="">
							</div> -->
							<p>Fintec</p>
						</a>
					</div>
					<div class="client-list__col">
						<a href="#" class="client-item d-flex flex-column align-items-center justify-content-between h-100">
							<div class="client-item__img mt-auto mb-auto" style="background-image: url(images/client6.png);"></div>
							<!-- <div>
								<img src="images/client6.png" alt="">
							</div> -->
							<p>Fintec</p>
						</a>
					</div>
					<div class="client-list__col">
						<a href="#" class="client-item d-flex flex-column align-items-center justify-content-between h-100">
							<div class="client-item__img mt-auto mb-auto" style="background-image: url(images/client7.png);"></div>
							<!-- <div>
								<img src="images/client7.png" alt="">
							</div> -->
							<p>Fintec</p>
						</a>
					</div>
					<div class="client-list__col">
						<a href="#" class="client-item d-flex flex-column align-items-center justify-content-between h-100">
							<div class="client-item__img mt-auto mb-auto" style="background-image: url(images/client8.png);"></div>
							<!-- <div>
								<img src="images/client8.png" alt="">
							</div> -->
							<p>Fintec</p>
						</a>
					</div>
					<div class="client-list__col">
						<a href="#" class="client-item d-flex flex-column align-items-center justify-content-between h-100">
							<div class="client-item__img mt-auto mb-auto" style="background-image: url(images/client9.png);"></div>
							<!-- <div>
								<img src="images/client9.png" alt="">
							</div> -->
							<p>Fintec</p>
						</a>
					</div>
					<div class="client-list__col">
						<a href="#" class="client-item d-flex flex-column align-items-center justify-content-between h-100">
							<div class="client-item__img mt-auto mb-auto" style="background-image: url(images/client10.png);"></div>
							<!-- <div>
								<img src="images/client10.png" alt="">
							</div> -->
							<p>Fintec</p>
						</a>
					</div>
				</div>
			</div>
			<div class="tab-content-item portfolio-item pt-20" id="id4">
				<div class="title mb-20 text-center text-sm-left">
					<h2>Все работы</h2>
				</div>
				<div class="row">
					<div class="col-sm-6 col-xl-3 mb-50">
						<a href="#" class="d-block best-work text-center text-sm-left">
							<img src="images/allWork1.jpg" alt="" class="best-work__img mb-10">
							<div class="best-work__content last-mb-cancel">
								<h5>Сбор весовой схемы</h5>
								<p>
									<span class="mr-5">Горный завод</span>
									<span>6 дней</span>
								</p>
							</div>
						</a>
					</div>
					<div class="col-sm-6 col-xl-3 mb-50">
						<a href="#" class="d-block best-work text-center text-sm-left">
							<img src="images/allWork2.jpg" alt="" class="best-work__img mb-10">
							<div class="best-work__content last-mb-cancel">
								<h5>Установка тензодатчика</h5>
								<p>
									<span class="mr-5">Гидроэлектростанция</span>
									<span>4 дня</span>
								</p>
							</div>
						</a>
					</div>
					<div class="col-sm-6 col-xl-3 mb-50">
						<a href="#" class="d-block best-work text-center text-sm-left">
							<img src="images/allWork3.jpg" alt="" class="best-work__img mb-10">
							<div class="best-work__content last-mb-cancel">
								<h5>Ремонт тензорезистора</h5>
								<p>
									<span class="mr-5">Пекарня</span>
									<span>5 дней</span>
								</p>
							</div>
						</a>
					</div>
					<div class="col-sm-6 col-xl-3 mb-50">
						<a href="#" class="d-block best-work text-center text-sm-left">
							<img src="images/allWork4.jpg" alt="" class="best-work__img mb-10">
							<div class="best-work__content last-mb-cancel">
								<h5>Установка тензодатчика</h5>
								<p>
									<span class="mr-5">Гидроэлектростанция</span>
									<span>4 дня</span>
								</p>
							</div>
						</a>
					</div>
					<div class="col-sm-6 col-xl-3 mb-50">
						<a href="#" class="d-block best-work text-center text-sm-left">
							<img src="images/allWork5.jpg" alt="" class="best-work__img mb-10">
							<div class="best-work__content last-mb-cancel">
								<h5>Сбор весовой схемы</h5>
								<p>
									<span class="mr-5">Горный завод</span>
									<span>6 дней</span>
								</p>
							</div>
						</a>
					</div>
					<div class="col-sm-6 col-xl-3 mb-50">
						<a href="#" class="d-block best-work text-center text-sm-left">
							<img src="images/allWork6.jpg" alt="" class="best-work__img mb-10">
							<div class="best-work__content last-mb-cancel">
								<h5>Установка тензодатчика</h5>
								<p>
									<span class="mr-5">Гидроэлектростанция</span>
									<span>4 дня</span>
								</p>
							</div>
						</a>
					</div>
					<div class="col-sm-6 col-xl-3 mb-50">
						<a href="#" class="d-block best-work text-center text-sm-left">
							<img src="images/allWork7.jpg" alt="" class="best-work__img mb-10">
							<div class="best-work__content last-mb-cancel">
								<h5>Ремонт тензорезистора</h5>
								<p>
									<span class="mr-5">Пекарня</span>
									<span>5 дней</span>
								</p>
							</div>
						</a>
					</div>
					<div class="col-sm-6 col-xl-3 mb-50">
						<a href="#" class="d-block best-work text-center text-sm-left">
							<img src="images/allWork8.jpg" alt="" class="best-work__img mb-10">
							<div class="best-work__content last-mb-cancel">
								<h5>Установка тензодатчика</h5>
								<p>
									<span class="mr-5">Гидроэлектростанция</span>
									<span>4 дня</span>
								</p>
							</div>
						</a>
					</div>
				</div>
			</div>
			<div class="tab-content-item portfolio-item pt-20 pb-40" id="id5">
				<div class="own-inventions">
					<div class="title mb-20 text-center text-sm-left">
						<h2>Собственные изобретения</h2>
					</div>
					<div class="own-inventions__wrap mb-20">
						<div class="row">
							<div class="col-xl-8 mb-20">
								<div class="article-head mb-20">
									<div class="title">
										<h2>Тензодатчик с нулевой погрешностью</h2>
									</div>
									<ul class="padding list-clr article-head__descr">
										<li>
											<span class="color-grey">Дата реализации</span>
											<span>05.06.2014</span>
										</li>
									</ul>
								</div>
								<div class="title mb-30">
									<h6>Описание: </h6>
									<p>Тензодатчики балочного типа прямоугольной формы. Широко применяются в платформенных весах.</p>
								</div>
								<div class="title mb-30">
									<h6>Основные преимущества: </h6>
									<div class="skill-item">
										<ul class="skill-item__simple-list list-clr">
											<li>Можно использовать в МКС</li>
											<li>Сокращает влияние боковой нагрузки</li>
											<li>Увеличивает возможности по экономии остатков</li>
											<li>Улучшает что-то ещё где-то</li>
										</ul>
									</div>
								</div>
								<div class="title mb-10">
									<h6>Чертежи: </h6>
								</div>
								<div class="blueprints-carousel owl-carousel owl-theme">
									<a href="#" class="d-block preview-link blueprint">
										<img src="images/blueprint1.jpg" alt="">
									</a>
									<a href="#" class="d-block preview-link blueprint">
										<img src="images/blueprin2.jpg" alt="">
									</a>
									<a href="#" class="d-block preview-link blueprint">
										<img src="images/blueprin3.jpg" alt="">
									</a>
									<a href="#" class="d-block preview-link blueprint">
										<img src="images/blueprint1.jpg" alt="">
									</a>
									<a href="#" class="d-block preview-link blueprint">
										<img src="images/blueprin2.jpg" alt="">
									</a>
									<a href="#" class="d-block preview-link blueprint">
										<img src="images/blueprin3.jpg" alt="">
									</a>
								</div>
							</div>
							<div class="col-xl-4 mb-20 text-center text-xl-left">
								<a href="script;" data-facybox="galery9" data-src="images/patentImg.jpg" class="preview-link">
									<img src="images/patentImg.jpg" alt="">
								</a>
							</div>
						</div>
						<div>
							<div class="hidden padding">
								<div class="row">
									<div class="col-xl-6 mb-20">
										<div class="title">
											<h6>Основные преимущества: </h6>
											<div class="skill-item">
												<ul class="skill-item__simple-list list-clr">
													<li>Можно использовать в МКС</li>
													<li>Сокращает влияние боковой нагрузки</li>
													<li>Увеличивает возможности по экономии остатков</li>
													<li>Улучшает что-то ещё где-то</li>
												</ul>
											</div>
										</div>
									</div>
									<div class="col-xl-6 mb-20">
										<div class="title">
											<h6>Основные преимущества: </h6>
											<div class="skill-item">
												<ul class="skill-item__simple-list list-clr">
													<li>Можно использовать в МКС</li>
													<li>Сокращает влияние боковой нагрузки</li>
													<li>Увеличивает возможности по экономии остатков</li>
													<li>Улучшает что-то ещё где-то</li>
												</ul>
											</div>
										</div>
									</div>
									<div class="col-xl-6 mb-20">
										<div class="title">
											<h6>Основные преимущества: </h6>
											<div class="skill-item">
												<ul class="skill-item__simple-list list-clr">
													<li>Можно использовать в МКС</li>
													<li>Сокращает влияние боковой нагрузки</li>
													<li>Увеличивает возможности по экономии остатков</li>
													<li>Улучшает что-то ещё где-то</li>
												</ul>
											</div>
										</div>
									</div>
									<div class="col-xl-6 mb-20">
										<div class="title">
											<h6>Основные преимущества: </h6>
											<div class="skill-item">
												<ul class="skill-item__simple-list list-clr">
													<li>Можно использовать в МКС</li>
													<li>Сокращает влияние боковой нагрузки</li>
													<li>Увеличивает возможности по экономии остатков</li>
													<li>Улучшает что-то ещё где-то</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="button-toggle-outer">
								<a href="#" class="button-toggle d-block text-center caret_toggle ">
									<span>Показать полность</span>
									<span class="caret caret_bottom"></span>
								</a>
							</div>
						</div>
					</div>
					<div class="title mb-20">
						<h5>Список изобретений</h5>
					</div>
					<div class="blueprintsList-carousel owl-carousel owl-theme">
						<a href="#" class="d-block case-box">
							<img src="images/caseImg1.jpg" alt="" class="case-box__img">
							<div class="case-box__content">
								<span>Клиент</span>
								<strong>CAS</strong>
								<h2>Установка сложных <br> автомобильных весов</h2>
							</div>
						</a>
						<a href="#" class="d-block case-box">
							<img src="images/caseImg2.jpg" alt="" class="case-box__img">
							<div class="case-box__content">
								<span>Клиент</span>
								<strong>Baykon</strong>
								<h2>Сбор тройной весовой схемы</h2>
							</div>
						</a>
						<a href="#" class="d-block case-box">
							<img src="images/caseImg3.jpg" alt="" class="case-box__img">
							<div class="case-box__content">
								<span>Клиент</span>
								<strong>Danfoss</strong>
								<h2>Проверка весов на вагонетках горного завода</h2>
							</div>
						</a>
						<a href="#" class="d-block case-box">
							<img src="images/caseImg1.jpg" alt="" class="case-box__img">
							<div class="case-box__content">
								<span>Клиент</span>
								<strong>CAS</strong>
								<h2>Установка сложных <br> автомобильных весов</h2>
							</div>
						</a>
						<a href="#" class="d-block case-box">
							<img src="images/caseImg2.jpg" alt="" class="case-box__img">
							<div class="case-box__content">
								<span>Клиент</span>
								<strong>Baykon</strong>
								<h2>Сбор тройной весовой схемы</h2>
							</div>
						</a>
						<a href="#" class="d-block case-box">
							<img src="images/caseImg3.jpg" alt="" class="case-box__img">
							<div class="case-box__content">
								<span>Клиент</span>
								<strong>Danfoss</strong>
								<h2>Проверка весов на вагонетках горного завода</h2>
							</div>
						</a>
					</div>
				</div>
			</div>
			<div class="tab-content-item portfolio-item pt-20 pb-40" id="id6">
				<div class="title mb-20">
					<h2>Выставки</h2>
				</div>
				<div class="exhibitions-carousel owl-carousel owl-theme">
					<div>
						<a href="#" class="d-block case-box mb-30">
							<img src="images/caseImg1.jpg" alt="" class="case-box__img">
							<div class="case-box__content">
								<span>Клиент</span>
								<strong>CAS</strong>
								<h2>Установка сложных <br> автомобильных весов</h2>
							</div>
						</a>
						<a href="#" class="d-block case-box mb-30">
							<img src="images/caseImg2.jpg" alt="" class="case-box__img">
							<div class="case-box__content">
								<span>Клиент</span>
								<strong>Baykon</strong>
								<h2>Сбор тройной весовой схемы</h2>
							</div>
						</a>
					</div>
					<div>
						<a href="#" class="d-block case-box mb-30">
							<img src="images/caseImg3.jpg" alt="" class="case-box__img">
							<div class="case-box__content">
								<span>Клиент</span>
								<strong>Danfoss</strong>
								<h2>Проверка весов на вагонетках горного завода</h2>
							</div>
						</a>
						<a href="#" class="d-block case-box mb-30">
							<img src="images/caseImg1.jpg" alt="" class="case-box__img">
							<div class="case-box__content">
								<span>Клиент</span>
								<strong>CAS</strong>
								<h2>Установка сложных <br> автомобильных весов</h2>
							</div>
						</a>
					</div>
					<div>
						<a href="#" class="d-block case-box mb-30">
							<img src="images/caseImg2.jpg" alt="" class="case-box__img">
							<div class="case-box__content">
								<span>Клиент</span>
								<strong>Baykon</strong>
								<h2>Сбор тройной весовой схемы</h2>
							</div>
						</a>
						<a href="#" class="d-block case-box mb-30">
							<img src="images/caseImg3.jpg" alt="" class="case-box__img">
							<div class="case-box__content">
								<span>Клиент</span>
								<strong>Danfoss</strong>
								<h2>Проверка весов на вагонетках горного завода</h2>
							</div>
						</a>															
					</div>
					<div>
						<a href="#" class="d-block case-box mb-30">
							<img src="images/caseImg1.jpg" alt="" class="case-box__img">
							<div class="case-box__content">
								<span>Клиент</span>
								<strong>CAS</strong>
								<h2>Установка сложных <br> автомобильных весов</h2>
							</div>
						</a>
						<a href="#" class="d-block case-box mb-30">
							<img src="images/caseImg2.jpg" alt="" class="case-box__img">
							<div class="case-box__content">
								<span>Клиент</span>
								<strong>Baykon</strong>
								<h2>Сбор тройной весовой схемы</h2>
							</div>
						</a>
					</div>
					<div>
						<a href="#" class="d-block case-box mb-30">
							<img src="images/caseImg3.jpg" alt="" class="case-box__img">
							<div class="case-box__content">
								<span>Клиент</span>
								<strong>Danfoss</strong>
								<h2>Проверка весов на вагонетках горного завода</h2>
							</div>
						</a>
						<a href="#" class="d-block case-box mb-30">
							<img src="images/caseImg1.jpg" alt="" class="case-box__img">
							<div class="case-box__content">
								<span>Клиент</span>
								<strong>CAS</strong>
								<h2>Установка сложных <br> автомобильных весов</h2>
							</div>
						</a>
					</div>
					<div>
						<a href="#" class="d-block case-box mb-30">
							<img src="images/caseImg2.jpg" alt="" class="case-box__img">
							<div class="case-box__content">
								<span>Клиент</span>
								<strong>Baykon</strong>
								<h2>Сбор тройной весовой схемы</h2>
							</div>
						</a>
						<a href="#" class="d-block case-box mb-30">
							<img src="images/caseImg3.jpg" alt="" class="case-box__img">
							<div class="case-box__content">
								<span>Клиент</span>
								<strong>Danfoss</strong>
								<h2>Проверка весов на вагонетках горного завода</h2>
							</div>
						</a>															
					</div>
				</div>
				<div class="exhibitions-list list-clr">
					<li>
						<div class="exhibitions-list__head">
							<strong>Конгресс инженеров</strong>
							<span class="color-grey">Германия, 2015 г.</span>
						</div>
						<div class="exhibitions-list__content last-mb-cancel">
							<h3>Оценка эффективности рынка бумаги</h3>
						</div>
					</li>
					<li>
						<div class="exhibitions-list__head">
							<strong>Конгресс инженеров</strong>
							<span class="color-grey">Германия, 2015 г.</span>
						</div>
						<div class="exhibitions-list__content last-mb-cancel">
							<h3>Оценка эффективности рынка бумаги</h3>
						</div>
					</li>
					<li>
						<div class="exhibitions-list__head">
							<strong>Конгресс инженеров</strong>
							<span class="color-grey">Германия, 2015 г.</span>
						</div>
						<div class="exhibitions-list__content last-mb-cancel">
							<h3>Оценка эффективности рынка бумаги</h3>
						</div>
					</li>
					<li>
						<div class="exhibitions-list__head">
							<strong>Конгресс инженеров</strong>
							<span class="color-grey">Германия, 2015 г.</span>
						</div>
						<div class="exhibitions-list__content last-mb-cancel">
							<h3>Оценка эффективности рынка бумаги</h3>
						</div>
					</li>
				</div>
			</div>
		</div>
	</div>
</div>